body {
    background-color: rgb(2, 92, 62);
    margin:0 auto;
    text-align:center;
    justify-content: center;
    width: 90%;
}

nav{
    margin: 1rem 0 0 0;
    background-color: rgb(199, 130, 3);
}

button{
    margin: 1rem;
}
